@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;700&display=swap');

.md-ellipsis, h1, .headerlink{
    font-size: larger;
    font-family: 'ZCOOL XiaoWei', serif;
}

body, input {
    font-family: 'Lexend', 'Noto Sans SC', 'Source Code Pro', 'Noto Serif SC', sans-serif, -apple-system, Helvetica, Arial, sans-serif;
}

center, p, ul {
    font-size: medium;
}

.md-nav__link {
    font-size: small;
}

.md-typeset .admonition, .md-typeset details {
    background-color: rgba(159, 167, 198, 0.256);
    border: none;
} 

[data-md-color-primary=black] .md-header {
    background-color: #121520;
}

[data-md-color-primary=black] .md-tabs {
    background-color: #131623c5;
}
